language: scala
scala:
- 2.10.6

jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt
script:
- if [[ "${TRAVIS_PULL_REQUEST}" == "false" && ("${TRAVIS_BRANCH}" == "master" ||
  "${TRAVIS_BRANCH}" == "scala-2.10.x" || "${TRAVIS_BRANCH}" == "scalajs-2.11.x" ||
  "${TRAVIS_BRANCH}" == "scalajs-2.10.x") && $(cat version.sbt) =~ "-SNAPSHOT" ]];
  then sbt ++${TRAVIS_SCALA_VERSION} validate publish ; else sbt ++${TRAVIS_SCALA_VERSION}
  validate ; fi
sudo: false
env:
  global:
  - secure: ZobrR7RvGxjat+/Jd/2t4rlrEKX6v0wdHnu3WM9byVKBAGVEOrnSUQt2DEtQC916wggXe4z6F+S/c9JrvVZaa0nBngcqWcRGmnIeWNiFPS6PlGYefAnzgaRXJbu7v1OMvFV33qvjOzl9iTX2ZXzK0OJfC41oaoxODra3JSap5Ss=
  - secure: VMRVNXd2/k6gM3M1ECMn7qAnzJQ4GLQfz9s4qwWs+ZMAnt6G4SHB8wqIq7zCS8vtvCF4s+LqHgjVrwDWCOTujuIkRc1Ix3wtzMLdtMt5vgIbjMq5uvzA/0DwJxhFVYQSSx+ZEfdcA5KYTFkx2zGm3SvIYeZdBAN5HPn0p9D5a5M=
  - secure: EmpUbbzoEApcQxpM6zxYJ/B7FMBEXFCKdI8iXzcOE14PdfYz5YJeNBfygDCKSgmui5vfdXkYYRKNDeDKwGk2pkJNAstkj4r5qiz5j3mFswjHcCUF0D6yI6i3oajZAFmLZEVAjj3hcMLdTHR+bytdzx5kqnegh4e5/kENVZP8MGg=
